<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078220397647-jook560v6rdf624rv5olbdhfd8kc4lqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078220397647-jook560v6rdf624rv5olbdhfd8kc4lqc</string>
	<key>API_KEY</key>
	<string>AIzaSyAGphCdiZ73IPvfpa8K6Z5lfxiEXfWjKgY</string>
	<key>GCM_SENDER_ID</key>
	<string>1078220397647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Exploriti</string>
	<key>PROJECT_ID</key>
	<string>exploriti-rotman</string>
	<key>STORAGE_BUCKET</key>
	<string>exploriti-rotman.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078220397647:ios:091b2f0f8ad3af80fa5e3a</string>
	<key>DATABASE_URL</key>
	<string>https://exploriti-rotman.firebaseio.com</string>
</dict>
</plist>